/* CSS cabeçalho*/
.header{
    width: 100%;
}

.header .navbar-collapse{
    width: auto;
    justify-content: center;
}

.header .nav-link{
    color: var(--texto);
    font-weight: 500;
}

.header .nav-link:hover{
    color: var(--darklogo);
}
/* //CSS cabeçalho */


/* CSS rodapé */
.footer{
    text-align: center;
}
/* //CSS rodapé */


/* CSS Pag Cadastro, Livros, Aluguel, Venda */
.clientes,
.livro,
.aluguel{
    width: 70%;
    margin: auto;
}
/* //CSS Pag Cadastro, Livros, Aluguel, Venda */

/* CSS pag home > servicos */
.destaque{
    display: block;
    text-align: center;
    background-color: var(--destaque);
    border-radius: 5px;
    padding: 5px;
    transition: all ease-in-out 0.2s;
    margin-bottom: 20px;
}

.destaque:hover{
    transform: scale(1.05);
}