.header{
    width: 100%;
}

.header .navbar-collapse{
    width: auto;
}

.header .nav-link{
    color: #000000;
}

.header .nav-link:hover{
    color: red;
}

.footer{
    /* background-color: #f1766a; */
    text-align: center;
    margin-top: 50px;
}

.intro{
    width:70%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    justify-content: space-around;
}

.img1{
    width: 40%;
    margin-right: 30px;
}

.clientes{
    width: 70%;
    margin: auto;
}

.livro{
    width: 70%;
    margin: auto;
}

