/* CSS cabeçalho*/
.header{
    width: 100%;
}

.header .navbar-collapse{
    width: auto;
    justify-content: center;
}

.header .nav-link{
    color: var(--texto);
    font-weight: 500;
}

.header .nav-link:hover{
    color: var(--darklogo);
}
/* //CSS cabeçalho */


/* CSS rodapé */
.footer{
    text-align: center;
}
/* //CSS rodapé */


/* CSS Pag Cadastro */
.clientes{
    width: 90%;
    margin: auto;
}


/* CSS Pag Livros */

.livro{
    width: 70%;
    margin: auto;
}

