/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1201px) {
    #logoimg{
        width: 456px;
        height: 368px;
        
    }
}

@media (max-width: 768px) {
    #logoimg{
        width: 336px;
        height: 271px;
    }
}

@media (max-width: 767.98px) {
    .img-container{
        height: 120px;
    }

    .img-container img{
        max-height: 180px;
    }

    h2{
        text-align: start;
    }
}